<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if form_type == 'login' %}
    <div class="Login-Box">
        <form action="{{ url_for('login') }}" method="POST">
            <h2>Login</h2>
            <div class="input-box">
                <input type="text" id="username" name="username" required>
                <label for="username">Login</label>

            </div>

            <div class="input-box">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>

            </div>
            <button type="submit">Войти</button>
            <a href="{{ url_for('register') }}">Нет учетной записи? Регистрация</a>
        </form>
    </div>
    {% elif form_type == 'register' %}
        {% if registered %}
        <div class="success-message" style="color: green;">
            Пользователь {{ username }} успешно создан!
            <script>
            setTimeout(() => {
                window.location.href = "{{ url_for('index') }}";
            }, 3000);
            </script>
        </div>
        {% else %}
        <div class="Register-Box">
            <form action="{{ url_for('register') }}" method="POST">
                <h2>Register</h2>
                <div class="input-box">
                    <input type="text" id="email" name="email" required>
                    <label for="username">Email</label>
                </div>

                <div class="input-box">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Login</label>

                </div>

                <div class="input-box">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>

                </div>
                <button type="submit">Войти</button>
                <a href="{{ url_for('login') }}">Уже есть учетная запись? Войти</a>
            </form>
        </div>
        {% endif %}
    {% endif %}
</body>
</html>